<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dog - Exercice 2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <main>
        <h1>Bienvenue sur la page Display !! </h1>
        <h2>Le chien s'appelle @ViewData["nom"], il a @ViewData["age"] ans, et il est de breed @ViewData["breed"]</h2>
    </main>
</body>
</html>
