@model Product

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AfficherAllProduct - Exercice4</title>
</head>
<body>
   <p>@Model.ToString()</p>
   <p>Nom : @Model.Name</p>
   <p>Category : @Model.Category</p>
   <p>Price : @Model.Price</p>
</body>
</html>